
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #0c192c;
}
.bababa{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #1fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px  10px #4fc3dc44 , 
    0px 0px #4fc3dc , 
    0px 0px 100px #4fc3dc;
    animation: animate 15s linear infinite ;
    animation-duration: calc(125s /var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0px 0px 0px 10px #ff2d7544,
    0px 0px 50px #ff2d75,
    0px 0px 100px #ff2d75;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);

    }
    100%{
        transform: translateY(-10vh) scale(1);

    }
}.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.continer{
position: absolute;
min-width: 70%;
min-height: 80vh;
opacity: 0.8;
left: 245px;
top: 150px;
border-radius: 20px;
}
.img{
    display: flex;
    justify-content:space-around ;
    opacity: 0.7;
}
.imge{
    max-width: 250px;
   max-height: 181px;
    border-top-left-radius:20px;
     border-top-right-radius: 20px;  
}
    .img:hover{
        opacity: 1;
    }

.h1{
    display: flex;
    justify-content: space-around;
    
}

h2{
    background-color: rgb(255, 255, 255);
    color: blue;
    width: 250px;
    height: 40px;
    text-align: center;
    opacity: 0.7;

}
.h4{
    display: flex;
    justify-content: space-around;
}
h4{
    background-color: rgb(255, 255, 255);
    color: rgb(216, 198, 203);
    width: 250px;
    height: 100px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    opacity: 0.7;
    margin-top: -20px;
}
h2,h4{
    opacity: 1;
}
.padr{
    position: fixed;
    width: 40px;
    height: 100%;
    opacity: 0.7;
    
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0px;
    
}
.padr:hover{
    width:220px;
    height:100vh;
}

.pa{
    margin-left:33px ;
    text-decoration: none;
    color: aliceblue;
}
.navbar{
    margin-bottom: 10px;
    font-size: 30px;
}
.flex{
    display: flex;
    justify-content: end;
    font-size: 25px;
    direction: rtl;
    
}
.flexend{
    position: fixed;
    right: 0px;
    width: 40px;
    height: 100px;
    opacity: 0.7;
    
        background-color: rgb(10, 169, 209);
        border-bottom: 2px aqua solid ;
        border-right:2px aqua solid ;
        border-radius: 10px;
        font-size: 25px;
}
        
.flexend:hover{
    width:100px;
    height:100px;
}
.pp{
    margin-left: 18px;
    text-decoration: none;
    background-color: aqua;
    border: 2px blue solid;
    border-radius: 10px;
}